<div id="<%= dom_id article %>">
  <p>

    <strong>Label:</strong>
    <%= article.label %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= article.price %>DH
  </p>

  <p>
    <strong>Description:</strong>
    <%= article.description %>
  </p>

  <p>
    <strong>City:</strong>
    <%= article.localisation %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= article.category %>
  </p>

    <p>
    <strong>Published in:</strong>
    <%= article.created_at.to_date %>
  </p>

    <p>
    <strong>User:</strong>
    <%= article.user.lastname %>
    <%= article.user.firstname %>
    <%= phone_to article.user.phone, "Make a Call", country_code: "212" %>
    <% if article.user.avatar.attached? %>
    <%= image_tag(article.user.avatar,style:"width:150px;height:150px") %>
    <% else %>
    <%= image_tag("default_profile.jpg",style:"width:150px;height:150px") %>
    <%end%>
  </p>

  <p>
    <strong>Pictures:</strong>
    <% article.pictures.each do |picture| %>
      <%= image_tag(picture,style:"width:150px;height:150px")%>
    <%end%>
  </p>

</div>
