<nav class="">
    <%= link_to "LBAL" , root_path ,class:""%>
        <% if user_signed_in? %>
        <%= link_to "My Articles", articles_path ,class:"" %>
        <%= link_to "Edit Account", edit_user_registration_path ,class:"" %>
        <%= link_to "Sign out", destroy_user_session_path, class:"" %>
        <%else%>
        <%= link_to "Sign in", new_user_session_path ,class:"" %>
        <%end%>
</nav>