<nav class=" fixed top-0 left-0 right-0 z-50 w-full flex justify-between py-3 px-5 bg-zinc-100 border">
        <div class="">
        <%= link_to "E-Market" , root_path ,class:"text-xl font-semibold"%>
        </div>
        <div class="">
        <% if user_signed_in? %>
        <%= link_to "My Favorites", favorites_index_path ,class:" button-full" %>
        <%= link_to "My Articles", articles_path ,class:"button-full" %>
        <%= link_to "Edit Account", edit_user_registration_path ,class:"button-full" %>
        <%= link_to "Sign out", destroy_user_session_path, class:"button-full" %>
        <%else%>
        <%= link_to "Sign in", new_user_session_path ,class:"button-full" %>
        <%end%>
        </div>
        
</nav>

