

<h1>Articles</h1>
<%= search_form_for(@q , url: root_path) do |f| %>
    <%= f.search_field :label_cont, placeholder: "Search..." %>
    <%= f.select :localisation_cont, [ ["",""], ["Agadir","Agadir"], ["Al Hoceima","Al Hoceima"], ["Azilal","Azilal"], ["Beni Mellal","Beni Mellal"], ["Ben Slimane","Ben Slimane"], ["Boulemane","Boulemane"], ["Casablanca","Casablanca"], ["Chaouen","Chaouen"], ["El Jadida","El Jadida"], ["El Kelaa des Sraghna","El Kelaa des Sraghna"], ["Er Rachidia","Er Rachidia"], ["Essaouira","Essaouira"], ["Fes","Fes"], ["Figuig","Figuig"], ["Guelmim","Guelmim"], ["Ifrane","Ifrane"], ["Kenitra","Kenitra"], ["Khemisset","Khemisset"], ["Khenifra","Khenifra"], ["Khouribga","Khouribga"], ["Laayoune","Laayoune"], ["Larache","Larache"], ["Marrakech","Marrakech"], ["Meknes","Meknes"], ["Nador","Nador"], ["Ouarzazate","Ouarzazate"], ["Oujda","Oujda"], ["Rabat-Sale","Rabat-Sale"], ["Safi","Safi"], ["Settat","Settat"], ["Sidi Kacem","Sidi Kacem"], ["Tangier","Tangier"], ["Tan-Tan","Tan-Tan"], ["Taounate","Taounate"], ["Taroudannt","Taroudannt"], ["Tata","Tata"], ["Taza","Taza"], ["Tetouan","Tetouan"], ["Tiznit","Tiznit"]], class: "form-select" %>
    <%= f.select :category_cont, [ ["",""],["Home & Kitchen","Home & Kitchen"],["Beauty & Personal Care","Beauty & Personal Care"],["Clothing, Shoes & Jewelry","Clothing, Shoes & Jewelry"],["Arts, Crafts & Sewing","Arts, Crafts & Sewing"],["Electronics","Electronics"],["Sports & Outdoors","Sports & Outdoors"],["Health, Household & Baby Care","Health, Household & Baby Care"],["Toys & Games","Toys & Games"],["Cell Phone & Accessories","Cell Phone & Accessories"],["Office Products","Office Products"],["Pet Supplies","Pet Supplies"],["Books","Books"],["Tools & Home Improvement","Tools & Home Improvement"],["Automotive Parts & Accessories","Automotive Parts & Accessories"],["Garden & Outdoor","Garden & Outdoor"],["Handmade","Handmade"],["Collectibles & Fine Art","Collectibles & Fine Art"] ], class: "form-select" %>
    <%= sort_link(@q, :price, "Sort Price", default_order: :asc) %>
    <%= sort_link(@q, :created_at, "Sort Publishing Time", default_order: :asc) %>
    <%= f.submit "Search!" %>
<% end %>
<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</div>

